footer
    padding: 0 $defaultHorizontalPadding
    width: 100%
    .footer_links
        display: flex
        justify-content: space-around
        & ul

            & li
                color: $shadow
                list-style-type: none
                @extend .header_3
                &:first-child
                    color: $dark
