$footerGap: 40px
$footer_link_bottom_margin: 16px
$footer_separate_height: 2px

.footer
    // FOOTER LINKS BLOCK
    .footer_links
        padding: #{$footerGap} #{$footerGap*3}
        position: relative
        background-color: transparent
        display: flex
        justify-content: space-around
        gap: $footerGap
        & ul
            flex: 1
            display: flex
            flex-direction: column
            text-align: left
            & li
                color: $shadow
                list-style-type: none
                margin-bottom: $footer_link_bottom_margin
                font-family: $body
                &:first-child
                    color: $dark

    // FOOTER INFO SECTION
    &_info
        display: flex
        background-color: $footer
        justify-content: space-around
        padding: $footerGap #{$footerGap*3}
        gap: $footerGap
        & ul
            flex: 1
            color: $light
            & li
                padding-bottom: $footer_link_bottom_margin
        & .partners
            display: flex
            flex-direction: row
            flex-wrap: wrap
            align-items: center
            & li
                display: flex
                flex: 1
                flex: 1 1 40%
                align-items: center
                & img
                    position: relative
                &:first-child
                    flex: 1 1 100%
                    align-items: self-start
                    margin: 0

    & .socials
        display: flex
        padding: 0
        gap: $footerGap / 2
        & li
            & svg
                height: 40px
                width: 40px
                &:hover
                    color: $primary
                    cursor: pointer
    &_terms
        padding: #{$footerGap/2} #{$footerGap*3}
        color: $shadow
        background-color: $footer
