
$default-font: "ukraine-body"
$header_1: "ukraine-header1"
$header_2: "ukraine-header1"
$header_3: "ukraine-header3"
$body: "ukraine-body"
$title: "ukraine-title"

// MAJOR COLOR BASE
$primary: #67B23C
$secondary: #FFDA48
$dark: #000
$light: #fff
$footer: #1C1C30
$shadow: #959595
$seporator: #DADADB

// COLOR STATES 
$primary_hover: rgba($primary, .5)
$primary_disable: rgba($primary, .2)

// NUMBER VALUES
$defaultHorizontalPadding: 60px

// BUTTON PROPS
.default_button
    background-color: $primary
    color: $light
    padding: 12px 40px
    border-radius: 24px
    border: none
    &:hover
        background-color: $primary_hover

// DEFAULT BORDER
.border_bottom
    border-bottom: 2px solid $primary_hover
.border_top
    border-top: 2px solid $seporator
.bottom_box_shadow
    box-shadow: 0px 0px 8px 2px rgba($shadow, .2)

// FONT PRESENT    
.header_1
    font-family: $header_1
    font-size: 32px
.header_2
    font-family: $header_2
    font-size: 20px
.header_3
    font-family: $header_3
    font-size: 16px
.body
    font-family: $body
    font-size: 16px
.title
    font-family: $title
    font-size: 16px
    color: rgba($dark, .33)
