
$default-font: "ukraine-body"
$header_1: "ukraine-header1"
$header_2: "ukraine-header1"
$header_3: "ukraine-header3"
$body: "ukraine-body"
$title: "ukraine-title"

// MAJOR COLOR BASE
$primary: #67B23C
$secondary: #FFDA48
$bg_color: #E5E5E5
$dark: #000
$light: #fff
$footer: #1C1C30
$shadow: #959595
$seporator: #DADADB

// COLOR STATES 
$primary_hover: rgba($primary, .5)
$primary_disable: rgba($primary, .2)

// NUMBER VALUES
$min_padding: 8px
$defaultHorizontalPadding: 60px
$icon_padding: 24px

//FONT SIZES
$about_item_header: 20px
$page_name: 14px
$section_name: 32px
