@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	padding: 0
	margin: 0
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

li
	list-style-type: none
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	display: flex
	flex-direction: column
	background-color: $bg_color
	& .content
		flex: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $primary_hover
	color: #fff

// DEFAULT CONTAINERS
.page
	padding: #{$defaultHorizontalPadding * .6 } $defaultHorizontalPadding
	&_name
		color: rgba($dark, .45)
		font-size: $page_name
		padding-bottom: $defaultHorizontalPadding / 4
	a 
		color: inherit

.section
	&_header
		display: flex
		align-items: center
		justify-content: space-between
		padding-bottom: #{$defaultHorizontalPadding * .6 }
		&--name
			font-size: $section_name
			font-weight: bold
		&--link
			display: flex
			align-items: center
			font-weight: bold
			font-family: $header_1
			& p
				&:first-child
					margin-right: $icon_padding
			&:hover
				cursor: pointer
	&_content
		background: $light

// SEPARATOR
.seporator
	margin: $defaultHorizontalPadding 0
	border: 1px solid $seporator

// BUTTON PROPS
.default_button
	background-color: $primary
	color: $light
	padding: 12px 40px
	border-radius: 24px
	border: none
	&:hover
		background-color: $primary_hover

// DEFAULT BORDER
.border_bottom
	border-bottom: 2px solid $primary_hover
.border_top
	border-top: 2px solid $seporator
.bottom_box_shadow
	box-shadow: 0px 0px 8px 2px rgba($shadow, .2)

// FONT PRESENT    
.header_1
	font-family: $header_1
	font-size: 32px
.header_2
	font-family: $header_2
	font-size: 20px
.header_3
	font-family: $header_3
	font-size: 16px
.body
	font-family: $body
	font-size: 16px
.title
	font-family: $title
	font-size: 16px
	color: rgba($dark, .33)

// COMPONENTS	
@import "./_header"
@import "./_footer"
@import './_news'
@import './_tabs'
@import './_search'
@import './_sort-block'

// SCREENS	
@import "./screens/_about"
@import "./screens/_analytic"
@import "./screens/_info"

// RENDER PARTS
@import "media" // Всегда в конце
